@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.SetUpTradeDetails
@import views.disposal_of_vehicle.BeforeYouStart.NextId
@import views.html.disposal_of_vehicle.main
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    progress = Some(Messages("disposal_progress_1")),
    title = Messages("disposal_beforeyoustart.title"),
    showLanguageSwitch = true
) {
  <style type="text/css">
  .app ul.list-standard {
    list-style: disc;
  }
  </style>
<div class="two-col">
  <div class="first-col" style="width:30%;">
    <div class="related">
      <h2>@Messages("disposal_beforeyoustart.usefulLinks")</h2>
      <dl>
        <dt><a href="#">@Messages("disposal_beforeyoustart.Link1name")</a></dt>
        <dt><a href="#">Vehicle tax refund</a></dt>
      </dl>
    </div>
  </div>
  <div class="second-col" style="width:67%">
    <p>@Messages("disposal_beforeyoustart.description")</p>
    <div class="alert-warning"><h3>@Messages("disposal_beforeyoustart.tradeWarn")</h3></div>
    <p>
        <a class="button" id="@NextId" href="@SetUpTradeDetails.submit()">@Messages("disposal_beforeyoustart.button")</a>
    </p>
    <h2>@Messages("disposal_beforeyoustart.p1")</h2>
    <ol class="list-standard">
        <li>@Messages("disposal_beforeyoustart.listitem1") </li>
        <li>@Messages("disposal_beforeyoustart.listitem2")</li>
        <li>@Messages("disposal_beforeyoustart.listitem3")</li>
        <li>@Messages("disposal_beforeyoustart.listitem4")</li>
    </ol>
    <h2>@Messages("disposal_beforeyoustart.youWillNeedTitle")</h2>
    <ul class="list-standard">
      <li>The 11 digit document reference number from the latest registration certificate (V5C)</li>
      <li>The consent of the seller of the vehicle to act on their behalf</li>
    </ul>
    <div class="alert-warning"><h3>Please note: this service updates our records immediately</h3></div>
    <h2>Once you've finished</h2>
    <ul class="list-standard">
      <li>The registered keeper will be removed from our records and we will send them confirmation by post</li>
      <li>We will issue an automatic refund of any tax due to the address on the V5C and cancel any direct debit</li>
      <li>The original V5C/3 yellow disposal slip <strong>must not</strong> be sent to DVLA</li>
    </ul>
    <h2>Other ways to apply</h2>
    <p>If you do not use the online service, you or the seller must complete the V5C/3 and post it to DVLA, Swansea, SA99 1BD</p>
    <div class="form-steps">
        @csrfTokenHiddenField()
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@NextId" href="@SetUpTradeDetails.submit()">@Messages("disposal_beforeyoustart.button")</a>
    </div>
  </div>
</div>
}
