@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.SetUpTradeDetails
@import views.disposal_of_vehicle.BeforeYouStart.NextId
@import views.html.disposal_of_vehicle.main
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    progress = Some(Messages("disposal_progress_1")),
    title = Messages("disposal_beforeyoustart.title"),
    showLanguageSwitch = true
) {

<h1>@Messages("disposal_beforeyoustart.title")</h1>

<div class="two-col">
  <div class="first-col">
    <div class="related">
      <dl>
        <dt><a href="#">@Messages("disposal_beforeyoustart.Link1name")</a></dt>
        <dt><a href="#">@Messages("disposal_beforeyoustart.Link2name")</a></dt>
      </dl>
    </div>
  </div>
  <div class="second-col">
    <p>@Messages("disposal_beforeyoustart.description")</p>
    <div class="alert-warning"><h2>@Messages("disposal_beforeyoustart.tradeWarn")</h2></div>
    <p>
        <a class="button" id="@NextId" href="@SetUpTradeDetails.submit()">@Messages("disposal_beforeyoustart.button")</a>
    </p>
    <h2>@Messages("disposal_beforeyoustart.p1")</h2>
    <ol>
        <li>@Messages("disposal_beforeyoustart.listitem1") </li>
        <li>@Messages("disposal_beforeyoustart.listitem2")</li>
        <li>@Messages("disposal_beforeyoustart.listitem3")</li>
        <li>@Messages("disposal_beforeyoustart.listitem4")</li>
    </ol>
    <h2>@Messages("disposal_beforeyoustart.youWillNeedTitle")</h2>
    <ul class="list-standard">
      <li>@Messages("disposal_beforeyoustart.youWillNeedListItem1")</li>
      <li>@Messages("disposal_beforeyoustart.youWillNeedListItem2")</li>
    </ul>
    <div class="alert-warning"><h3>@Messages("disposal_beforeyoustart.recordUpdateWarn")</h3></div>
    <h2>@Messages("disposal_beforeyoustart.finishedTitle")</h2>
    <ul class="list-standard">
      <li>@Messages("disposal_beforeyoustart.finishedListItem1")</li>
      <li>@Messages("disposal_beforeyoustart.finishedListItem2")</li>
      <li>@Messages("disposal_beforeyoustart.finishedListItem3.1")&nbsp;
          <strong>@Messages("disposal_beforeyoustart.finishedListItem3.2")</strong>&nbsp;
          @Messages("disposal_beforeyoustart.finishedListItem3.3")
      </li>
    </ul>
    <h2>@Messages("disposal_beforeyoustart.otherWaysTitle")</h2>
    <p>@Messages("disposal_beforeyoustart.otherWays.p1")</p>
    <div class="form-steps">
        @csrfTokenHiddenField()
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@NextId" href="@SetUpTradeDetails.submit()">@Messages("disposal_beforeyoustart.button")</a>
    </div>
  </div>
</div>
}
