@(data: models.DisposeViewModel,
    formModel: models.DisposeFormModelBase,
    disposeDateTime: org.joda.time.DateTime,
    surveyUrl: Option[String],
    newDisposeFormTarget: Call,
    exitDisposeFormTarget: Call
    )(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    isPrivateKeeper: Boolean)

@import scala.collection.mutable.LinkedHashMap
@import views.disposal_of_vehicle.DisposeSuccess.{ExitDisposalId, NewDisposalId}
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.alertSuccess
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.registrationNumber

@main(
    progress = Some(Messages("disposal_progress_6")),
    title = Messages("disposal_disposeconfirmation.title")
){

<div class="two-col disposal-sucesss">

    <div class="second-col">
        @alertSuccess(Some(Messages("disposal_disposeconfirmation.disposalComplete"))){
            <p>@Messages("ms.vehiclesService.response.applicationBeingProcessed.p1")</p>
            @alertWarning() {
                <p><strong>@Messages("ms.vehiclesService.response.applicationBeingProcessed.p2")</strong></p>
            }
        }
        <h2>@Messages("disposal_disposeconfirmation.whatNext")</h2>
        <ul>
            @if(isPrivateKeeper) {
                <li>@Messages("disposal_disposeconfirmation.exprivatekeeper-p1")</li>
                <li>@Messages("disposal_disposeconfirmation.exprivatekeeper-p2")</li>
            } else {
                <li>@Messages("disposal_disposeconfirmation.exkeeper-p1")</li>
                <li>@Messages("disposal_disposeconfirmation.exkeeper-p2")</li>
            }
            <li>@Messages("disposal_disposeconfirmation.exkeeper-p3")</li>
            <li>@Messages("disposal_disposeconfirmation.exkeeper-p4")</li>
        </ul>

        <div class="form-steps desktop-only">
            <div class="step">
                <button id="printDisposalSuccess"
                        type="button"
                        name="action"
                        value="printDisposalSuccess"
                        class="button js-only print-button ga-track-click-event-once"
                        ga-event-category="ct_print"
                        ga-event-action="print">
                    @Messages("global.buttonnavprint")
                </button>
            </div>

            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            @if(!isPrivateKeeper) {
            <div class="step">
                @form(action = newDisposeFormTarget) {
                @csrfTokenHiddenField()
                <button id="@NewDisposalId"
                        type="submit"
                        name="action"
                        class="button button-new-disposal button-secondary ga-track-click-event-once"
                        ga-event-category="ct_link"
                        ga-event-action="sell-another">
                    @Messages("disposal_disposeconfirmation.newdisposalbutton")
                </button>
                }
            </div>
            }
            <div class="step">
                @form(action = exitDisposeFormTarget) {
                @csrfTokenHiddenField()
                @surveyUrl match {
                case Some(url) => {
                <button id="@ExitDisposalId"
                        type="submit"
                        name="action"
                        onclick="window.open('@url', '_blank');"
                        class="button button-secondary ga-track-click-event-once"
                        ga-event-category="dispose-success"
                        ga-event-action="exit">
                    @Messages("disposal_disposeconfirmation.exitbutton")
                </button>
                }
                case None => {
                <button id="@ExitDisposalId"
                        type="submit"
                        name="action"
                        class="button button-secondary ga-dispose-success-exit">
                    @Messages("disposal_disposeconfirmation.exitbutton")
                </button>
                }
                }
                }
            </div>
        </div>
    </div>

    <div class="first-col">
        @playbackList(
            Messages("disposal_disposeconfirmation.transactionDetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                playbackItems += (Messages("disposal_disposeconfirmation.transactionid_label") -> data.transactionId.getOrElse(""))
                playbackItems += (Messages("disposal_disposeconfirmation.transactionDate") -> disposeDateTime.toString("dd/MM/yyy"))
            }
        )()

        @playbackList(
            Messages("disposal_playback.vehicledetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                val flaggedRegNumberLabel: String = "REG_" + Messages("disposal_playback.vehiclereg")
                playbackItems += (flaggedRegNumberLabel -> data.registrationNumber)

                data.vehicleMake match {
                    case Some(make) => playbackItems += (Messages("disposal_playback.vehiclemake") -> make)
                    case None => playbackItems
                }

                data.vehicleModel match {
                    case Some(model) => playbackItems += (Messages("disposal_playback.vehiclemodel") -> model)
                    case None => playbackItems
                }

                if(formModel.mileage == None) {
                    playbackItems += (Messages("disposal_disposeconfirmation.mileage") -> Messages("disposal_disposeconfirmation.mileageNotEntered"))
                } else {
                    playbackItems += (Messages("disposal_disposeconfirmation.mileage") -> java.text.NumberFormat.getIntegerInstance().format(formModel.mileage.get))
                }

            },
            List("related")
        )()

        @playbackList(
            Messages("disposal_disposeconfirmation.disposedto"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("disposal_disposeconfirmation.trader_name") -> data.dealerName)
                playbackItems += (Messages("disposal_disposeconfirmation.trader_address") -> data.dealerAddress.mkString("<br/>"))
            },
            List("bg-plain")
        )()

        @playbackList(
            Messages("disposal_disposeconfirmation.keeperDetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("disposal_disposeconfirmation.keeperDetails.email") -> "")
            },
            List("bg-plain")
        )()

        @playbackList(
            null,
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("disposal_disposeconfirmation.transactionDate") -> formModel.dateOfDisposal.toString("dd/MM/yyy"))
            },
            List("bg-plain")
        )()
    </div>

    <div class="form-steps mobile-only">
        <div class="step">
            <button id="printDisposalSuccess"
                    type="button"
                    name="action"
                    value="printDisposalSuccess"
                    class="button js-only print-button ga-track-click-event-once"
                    ga-event-category="ct_print"
                    ga-event-action="print">
                @Messages("global.buttonnavprint")
            </button>
        </div>

        @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
        @if(!isPrivateKeeper) {
        <div class="step">
            @form(action = newDisposeFormTarget) {
            @csrfTokenHiddenField()
            <button id="@NewDisposalId"
                    type="submit"
                    name="action"
                    class="button button-new-disposal button-secondary ga-track-click-event-once"
                    ga-event-category="ct_link"
                    ga-event-action="sell-another">
                @Messages("disposal_disposeconfirmation.newdisposalbutton")
            </button>
            }
        </div>
        }
        <div class="step">
            @form(action = exitDisposeFormTarget) {
            @csrfTokenHiddenField()
            @surveyUrl match {
            case Some(url) => {
            <button id="@ExitDisposalId"
                    type="submit"
                    name="action"
                    onclick="window.open('@url', '_blank');"
                    class="button button-secondary ga-track-click-event-once"
                    ga-event-category="dispose-success"
                    ga-event-action="exit">
                @Messages("disposal_disposeconfirmation.exitbutton")
            </button>
            }
            case None => {
            <button id="@ExitDisposalId"
                    type="submit"
                    name="action"
                    class="button button-secondary ga-dispose-success-exit">
                @Messages("disposal_disposeconfirmation.exitbutton")
            </button>
            }
            }
            }
        </div>
    </div>
</div>
}