@(data: models.DisposeViewModel,
        disposeForm: Form[_],
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService,
        submitCall: Call,
        backCall: Call)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        isPrivateKeeper: Boolean)

@import models.DisposeFormModelBase.Form.BackId
@import models.DisposeFormModelBase.Form.ConsentId
@import models.DisposeFormModelBase.Form.DateOfDisposalId
@import models.DisposeFormModelBase.Form.DateOfDisposalYearsIntoThePast
@import models.DisposeFormModelBase.Form.LossOfRegistrationConsentId
@import models.DisposeFormModelBase.Form.MileageId
@import models.DisposeFormModelBase.Form.SubmitId
@import models.DisposeFormModelBase.Form.TodaysDateOfDisposal
@import models.PrivateDisposeFormModel.Form.EmailOptionId
@import models.PrivateDisposeFormModel.Form.EmailId
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Email.EmailMaxLength
@import common.mappings.Mileage
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechDeclareCheck
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.dates.inputDayMonthYearTextbox
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.email
@import common.views.html.widgets.optionalToggle
@import common.views.html.widgets.playbackList
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form


@main(
    progress = Some(Messages("disposal_progress_5")),
    title = Messages("disposal_dispose.title"),
    currentForm = Some(disposeForm),
    backButton = Some(backCall)
) {
    <h1>@Messages("disposal_dispose.title")</h1>

    @form(action = submitCall) {
        @csrfTokenHiddenField()

        <div class="two-col clearfix">

            <div class="disposal-info first-col">
                @playbackList(
                    Messages("disposal_playback.vehicledetails"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                        val flaggedRegNumberLabel: String = "REG_" + Messages("disposal_playback.vehiclereg")
                        playbackItems += (flaggedRegNumberLabel -> data.registrationNumber)

                        data.vehicleMake match {
                            case Some(make) => playbackItems += (Messages("disposal_playback.vehiclemake") -> make)
                            case None => playbackItems
                        }

                        data.vehicleModel match {
                            case Some(model) => playbackItems += (Messages("disposal_playback.vehiclemodel") -> model)
                            case None => playbackItems
                        }
                    }
                )()

                @playbackList(
                    Messages("disposal_vehiclelookup.p2"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                        playbackItems += (Messages("disposal_vehiclelookup.tradernamelabel") -> data.dealerName)
                        playbackItems += (Messages("disposal_vehiclelookup.traderaddresslabel") -> data.dealerAddress.mkString("<br/>"))
                    }
                )()

                @alertWarning() { <p>@Messages("disposal_dispose.warning")</p> }
            </div>

            <div class="disposal-form second-col uppercase-input">
                @if(isPrivateKeeper) {
                    <div class="hidden">
                        @valtechDeclareCheck(disposeForm(ConsentId),
                            args = Map(
                                '_label -> Messages("disposal_dispose.consent"),
                                'checked -> "checked"
                            )
                        )
                    </div>
                } else {
                    @valtechDeclareCheck(disposeForm(ConsentId),
                        args = Map(
                            '_showConstraints -> false,
                            '_label -> Messages("disposal_dispose.consent")
                        )
                    )
                }

                @valtechDeclareCheck(disposeForm(LossOfRegistrationConsentId),
                    args = Map(
                        '_showConstraints -> false
                    ) ++
                   (if(isPrivateKeeper)
                      Map('_label -> Messages("disposal_dispose.loss_of_registration.privateKeeper.consent"))
                      ++ Map('tooltipText -> Messages("disposal_dispose.loss_of_registration.privateKeeper.consent.info"))
                   else
                      Map('_label -> Messages("disposal_dispose.loss_of_registration.consent"))
                      ++ Map('tooltipText -> Messages("disposal_dispose.loss_of_registration.consent.info"))
                   )
                )

                <div id="@DateOfDisposalId">
                    @inputDayMonthYearTextbox(
                        field =disposeForm(DateOfDisposalId),
                        args = Map(
                            '_label -> Messages("disposal_dispose.dateofdisposal.label")
                        ),
                        dateService = dateService,
                        showTodaysDateButton = !isPrivateKeeper,
                        showTodaysDateButtonId = Some(TodaysDateOfDisposal),
                        hintText = Some(Messages("disposal_dispose.dateofdisposal.hint"))
                    )
                </div>

                @valtechInputText(disposeForm(MileageId), args =
                        Map(
                          '_label -> Messages("disposal_dispose.mileage.label"),
                          '_showConstraints -> false,
                          'class -> "ga-track-optional-text",
                          Symbol("ga-action") -> "mileage",
                          'typeTel -> true,
                          'optionalFieldKey -> true,
                          'maxLength -> Mileage.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                          'validityMessage -> Messages("disposal_dispose.mileage.validation")
                        ) ++
                   (if(config.isHtml5ValidationEnabled) Map('pattern -> Mileage.Pattern) else Nil)
                )

                @if(isPrivateKeeper){
                    <div class="disposal-form second-col">
                        @optionalToggle(
                            disposeForm(EmailOptionId),
                            Messages("disposal_businesskeeperdetails.traderemailoption"),
                            Messages("disposal_businesskeeperdetails.traderemailoption.yes"),
                            Messages("disposal_businesskeeperdetails.traderemailoption.no"),
                            email(
                                disposeForm(EmailId),
                                labelText = Messages("disposal_businesskeeperdetails.email"),
                                hintText = None,
                                args = Map('maxLength -> EmailMaxLength,
                                           'validityMessage -> Messages("error.email")
                                       )
                            )
                        )
                    </div>
                }

                @{
                    /* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */
                }
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">@Messages("disposal_dispose.submitbutton")</button>
                    <br/>


                    <div class="two-col-spacer">
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/firefox-dont-cache-page.js")"
            type="text/javascript">
    </script>
}
