@(transactionId: Option[String],
  sellNewVehicleCall: Call,
  exitCall: Call)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config,
  isPrivateKeeper: Boolean)

@import views.disposal_of_vehicle.DisposeFailure.{SetupTradeDetailsId, VehicleLookupId}
@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("disposal_disposefailure.title")
) {
    <div class="alert-failed">
        <h2>@Messages("ms.vehiclesService.response.unableToProcessApplication-title")</h2>
        <p>
            @Messages("ms.vehiclesService.response.unableToProcessApplication")
            <br>
            @Messages("ms.vehiclesService.response.unableToProcessApplication-address")
        </p>
        <p>Your transaction ID is<br /><span class="emphasized">@Messages("disposal_disposefailure.transactionid", transactionId.getOrElse(""))</span></p>
    </div>

    <div class="form-steps">
        @{
            /* Note the reverse routing syntax for the hyperlink */
        }
        <button id="printDisposalFailure" type="button" name="action" value="printDisposalFailure" class="button js-only print-button">@Messages("global.buttonnavprint")</button>
        <a class="button-secondary" id="@VehicleLookupId" href="@sellNewVehicleCall">@Messages("disposal_disposefailure.button")</a>
        <a class="button-secondary" id="@SetupTradeDetailsId" href="@exitCall">@Messages("disposal_disposefailure.button2")</a>
    </div>
}
