@(viewModel: models.DisposeViewModel,
    formModel: models.DisposeFormModelBase,
    disposeDateTime: org.joda.time.DateTime,
    surveyUrl: Option[String],
    newDisposeFormTarget: Call,
    exitDisposeFormTarget: Call
    )(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    isPrivateKeeper: Boolean,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.alertSuccess
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.formSteps
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.xmasOpeningTimes
@import views.disposal_of_vehicle.DisposeSuccess.{ExitDisposalId, NewDisposalId}
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
   title = Messages("disposal_disposeconfirmation.title")
){

<div class="two-col disposal-sucesss">

    <div class="second-col">
        @alertSuccess(Some(Messages("disposal_disposeconfirmation.disposalComplete"))){
            <p>@Messages("ms.vehiclesService.response.applicationBeingProcessed.p1")</p>
            @alertWarning() {
                <p><strong>@Messages("ms.vehiclesService.response.applicationBeingProcessed.p2")</strong></p>
            }
        }
        <h2>@Messages("disposal_disposeconfirmation.whatNext")</h2>
        <ul>
            @if(isPrivateKeeper) {
                <li>@Messages("disposal_disposeconfirmation.exprivatekeeper-p1")</li>
                <li>@Messages("disposal_disposeconfirmation.exprivatekeeper-p2")
                    @xmasOpeningTimes()
                </li>
            } else {
                <li>@Messages("disposal_disposeconfirmation.exkeeper-p1")</li>
                <li>@Messages("disposal_disposeconfirmation.exkeeper-p2")</li>
            }
            <li>@Messages("disposal_disposeconfirmation.exkeeper-p3")</li>
            <li>@Messages("disposal_disposeconfirmation.exkeeper-p4")</li>
        </ul>

        @formSteps(
            exitDisposeFormTarget,
            ExitDisposalId,
            surveyUrl,
            cssClasses = List("desktop-only"),
            {
                val args: Map[Symbol, Any] = Map()
                isPrivateKeeper match {
                    case true => args.empty
                    case false => Map('target -> newDisposeFormTarget, 'buttonId -> NewDisposalId)
                }
            }
        )
    </div>

    <div class="first-col">
        @playbackList(
            Messages("disposal_disposeconfirmation.transactionDetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                playbackItems += (Messages("disposal_disposeconfirmation.transactionid_label") -> viewModel.transactionId.getOrElse(""))
                playbackItems += (Messages("disposal_disposeconfirmation.transactionDate") -> disposeDateTime.toString("dd/MM/yyy"))
            }
        )()

        @vehicleDetailPlayback(
            viewModel.vehicleDetails,
            {
                val additionalPlaybackItems: LinkedHashMap[String, String] = LinkedHashMap()
                additionalPlaybackItems += (
                    Messages("disposal_disposeconfirmation.mileage") ->
                    (formModel.mileage match {
                        case Some(mileage) => java.text.NumberFormat.getIntegerInstance().format(mileage)
                        case None => Messages("disposal_disposeconfirmation.mileageNotEntered")
                    })
                )
            },
            List("related")
        )()

        @playbackList(
            Messages("disposal_disposeconfirmation.disposedto"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("disposal_disposeconfirmation.trader_name") -> viewModel.traderDetails.traderName)
                playbackItems += (Messages("disposal_disposeconfirmation.trader_address") -> viewModel.traderDetails.traderAddress.address.mkString("<br/>"))
                playbackItems += (Messages("disposal_disposeconfirmation.disposaldate") -> formModel.dateOfDisposal.toString("dd/MM/yyy"))
                if(!isPrivateKeeper)
                    viewModel.traderDetails.traderEmail match {
                        case Some(email) => playbackItems += ("EMAIL_" + Messages("disposal_disposeconfirmation.email") -> email)
                        case None => playbackItems += (Messages("disposal_disposeconfirmation.email") ->
                            Messages("disposal_disposeconfirmation.emailNotEntered"))}
                playbackItems
            },
            List("related", "bg-plain")
        )()

        @playbackList(
            Messages("disposal_disposeconfirmation.keeperDetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                formModel.email match {
                    case Some(email) => playbackItems += ("EMAIL_" + Messages("disposal_disposeconfirmation.keeperDetails.email") -> email)
                    case None => playbackItems += (Messages("disposal_disposeconfirmation.keeperDetails.email") ->
                        Messages("disposal_disposeconfirmation.emailNotEntered"))}
            },
            List("related", "bg-plain")
        )()
    </div>

    @formSteps(
        exitDisposeFormTarget,
        ExitDisposalId,
        surveyUrl  ,
        cssClasses = List("mobile-only"),
        {
            val args: Map[Symbol, Any] = Map()
            isPrivateKeeper match {
                case true => args.empty
                case false => Map('target -> newDisposeFormTarget, 'buttonId -> NewDisposalId)
            }
        }
    )
</div>
}