@(tryAgainLink: Call,
  exitLink: Call,
  trackingId: uk.gov.dvla.vehicles.presentation.common.clientsidesession.TrackingId)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config,
  isPrivateKeeper: Boolean)

@import views.html.disposal_of_vehicle.main
@import uk.gov.dvla.vehicles.presentation.common.views.widgets.MicroServiceError.{ExitId, TryAgainId}

@main(
    title = Messages("duplicate_disposal_error.title")
){
    <h1>@Messages("duplicate_disposal_error.title")</h1>
    <p>@Messages("duplicate_disposal_error.text1")</p>
    <p>@Messages("duplicate_disposal_error.text2", trackingId.value)</p>

    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="@TryAgainId" href="@tryAgainLink">
            @Messages("duplicate_disposal_error.back.button")
        </a>
        <a class="button-secondary" id="@ExitId" href="@exitLink">
            @Messages("duplicate_disposal_error.exit.button")
        </a>
    </div>
}
