@(formTarget: Call)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        isPrivateKeeper: Boolean)

@import views.disposal_of_vehicle.Error.SubmitId
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    title = Messages("error.title")
){
    <h1>@Messages("error.title")</h1>
    @form(action = formTarget) {
        @csrfTokenHiddenField()
        <div class="form-steps">
            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("error.button")</button>
        </div>
    }
}
