@(progress: Option[String] = None,
    title: String,
    currentForm: Option[Form[_]] = None,
    backButton: Option[Call] = None,
    showLanguageSwitch: Boolean = false,
    showBanner: Boolean = true)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config,
    isPrivateKeeper: Boolean
    )

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.errorsSummary
@import views.html.common.{progressBar, protoType}
@import views.html.common.govMainDefault

@govMainDefault(title, showLanguageSwitch) {
    <div class="app vehicles-online">

        @if(showBanner) {
            @protoType()
        }

        <div class="section-content">
        
            @progressBar(progress)

            @backButton.map { back =>
                <a class="back" id="back" href="@back">
                @Messages("disposal_dispose.backbutton")
                </a>
            }

            @errorsSummary(currentForm)

            @content

        </div>
    </div>
}
