@(title: String,
    currentForm: Option[Form[_]] = None,
    backButton: Option[Call] = None,
    showLanguageSwitch: Boolean = false,
    showBanner: Boolean = true)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config,
    isPrivateKeeper: Boolean
    )

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.errorsSummary
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.prototype
@import views.html.common.govMainDefault

@govMainDefault(title, showLanguageSwitch, isPrivateKeeper) {
    <div class="app vehicles-online">
        @if(showBanner) {
            @prototype(controllers.routes.FeedbackController.present())
        }

        <div class="section-content">
        
              @backButton.map { back =>
                <a class="back" id="back" href="@back">
                @Messages("disposal_dispose.backbutton")
                </a>
            }

            @errorsSummary(currentForm)

            @content

        </div>
    </div>
}
