@(progress: Option[String] = None,
    title: String,
    currentForm: Option[Form[_]] = None,
    showLanguageSwitch: Boolean = false, showBanner: Boolean = true)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config)

@import views.html.common.{progressBar, protoType}
@import views.html.common.govMainDefault
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.errorsSummary

@govMainDefault(title, showLanguageSwitch) {
    <div class="app vehicles-online">
        @if(showBanner) {
            @protoType()
        }

        <div class="section-content">
            @progressBar(progress)
            @errorsSummary(currentForm)

            @content
        </div>
    </div>
}
