@(traderLookupForm: Form[uk.gov.dvla.vehicles.presentation.common.model.SetupTradeDetailsFormModel],
  submitTarget: play.api.mvc.Call
 )(implicit lang: Lang,
   token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
   config: utils.helpers.Config,
   isPrivateKeeper: Boolean
 )

@import views.disposal_of_vehicle.SetupTradeDetails.SubmitId
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form
@import uk.gov.dvla.vehicles.presentation.common
@import common.model.SetupTradeDetailsFormModel.Form.{TraderNameId, TraderPostcodeId}
@import common.mappings.BusinessName
@import common.mappings.Email.EmailMaxLength
@import common.mappings.Postcode
@import common.model.SetupTradeDetailsFormModel.Form.TraderEmailId
@import common.model.SetupTradeDetailsFormModel.Form.TraderEmailOptionId
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.email
@import common.views.html.widgets.optionalToggle


@main(
    title = Messages("disposal_setuptradedetails.title"),
    currentForm = Some(traderLookupForm)
) {
    <h1>@Messages("disposal_setuptradedetails.title")</h1>

    @form(action = submitTarget,
          (if(!config.isHtml5ValidationEnabled) Seq('novalidate -> "novalidate") else Nil): _*) {
        @csrfTokenHiddenField()

        <div class="uppercase-input">
            @valtechInputText(traderLookupForm(TraderNameId),
                hintText = Some(Messages("disposal_setuptradedetails.tradername.hint")),
                args =
                    Map('_label -> Messages("disposal_setuptradedetails.tradernamelabel"),
                    '_showConstraints -> false,
                    'maxLength -> BusinessName.MaxLength,
                    'autofocus -> true))

            @valtechInputText(traderLookupForm(TraderPostcodeId),
                hintText = Some(Messages("disposal_setuptradedetails.traderpostcode.hint")),
                args =
                    Map('_label -> Messages("disposal_setuptradedetails.traderpostcodelabel"),
                    '_showConstraints -> false,
                    'maxLength -> Postcode.MaxLength))
        </div>
        @if(!isPrivateKeeper) {
            @optionalToggle(
              traderLookupForm(TraderEmailOptionId),
              Messages("disposal_businesskeeperdetails.traderemailoption"),
              Messages("disposal_businesskeeperdetails.traderemailoption.yes"),
              Messages("disposal_businesskeeperdetails.traderemailoption.no"),
              email(
                  traderLookupForm(TraderEmailId),
                  labelText = Messages("disposal_businesskeeperdetails.traderemaillabel"),
                  hintText = None,
                  args = Map('maxLength -> EmailMaxLength) ++
                         (if(config.isHtml5ValidationEnabled)
                             Map('validityMessage -> Messages("error.email"))
                          else Nil)
              )
            )
        }


            <div class="form-steps">
                <button id="@SubmitId" type="submit" name="action" class="button">
                    @Messages("disposal_setuptradedetails.button")
                </button>
            </div>
        </div>
    }
}
