@(sellAnotherVehicleTarget: play.api.mvc.Call, finishTarget: play.api.mvc.Call)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.disposal_of_vehicle.suppressedV5C.{SellAnotherVehicleId, FinishId}
@import views.html.disposal_of_vehicle.main
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    title = Messages("error_suppressedV5C.title")
) {
    <h1>@Messages("error_suppressedV5C.title")</h1>
    <p>@Messages("error_suppressedV5C.text1")</p>
    <p>@Messages("error_suppressedV5C.text2") <a href="@{Messages("error_suppressedV5C.link")}"> @{Messages("error_suppressedV5C.text3")}</a></p>

    <div class="form-steps">
        @csrfTokenHiddenField()
        <a class="button" id="@SellAnotherVehicleId" href="@sellAnotherVehicleTarget">
            @Messages("error_suppressedV5C.button1")
        </a>
        <a class="button-secondary" id="@FinishId" href="@finishTarget">
            @Messages("error_suppressedV5C.button2")
        </a>
    </div>
}
