@(viewModel: models.VehicleLookupViewModel
)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config
)

@import views.disposal_of_vehicle.VehicleLookup.{BackId, ExitId, SubmitId}
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form
@import models.VehicleLookupFormModel.Form.{DocumentReferenceNumberId, VehicleRegistrationNumberId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    progress = Some(Messages("disposal_progress_4")),
    title = Messages("disposal_vehiclelookup.title"),
    currentForm = Some(viewModel.form)
) {
    <a class="back" id="@BackId" href="@viewModel.back">
    @Messages("disposal_vehiclelookup.backbutton")
    </a>

    <h1>@Messages("disposal_vehiclelookup.title")</h1>

    <div class="two-col clearfix vehicle-lookup">
        <div class="first-col trader-details">
            <dl class="playback">
                <dt><h2>@Messages("disposal_vehiclelookup.p2")</h2></dt>
                <dt>@Messages("disposal_vehiclelookup.tradernamelabel")</dt>
                <dd>@viewModel.traderName</dd>
                <dt>@Messages("disposal_vehiclelookup.traderaddresslabel")</dt>
                <dd>@for(addr <- viewModel.address) {@addr<br/>}</dd>
            </dl>
        </div>
        <div id="trader-details" class="second-col uppercase-input">
            <div class="form-steps">
                <div class="step uppercase-input">
                    @form(action = viewModel.submit) {
                        @csrfTokenHiddenField()

                        @valtechInputText(viewModel.form(VehicleRegistrationNumberId), args =
                        Map('_label -> Messages("disposal_vehiclelookup.vrninputlabel"),
                            'maxLength -> VehicleRegistrationNumber.MaxLength,
                            '_showConstraints -> false,
                            'alphaNumericOnly -> true))
                        <div class="hint-margin">
                        @valtechInputText(viewModel.form(DocumentReferenceNumberId), args =
                            Map('_label -> Messages("disposal_vehiclelookup.refnumlabel"),
                                '_showConstraints -> false,
                                'typeTel -> true,
                                'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                                //'title -> Messages("error.validDocumentReferenceNumber")
                                'title -> Messages("")) ++ // [SKW] for accessibility Tony removed have 'title text as the screen reader reads it twice, the knock-on effect is that our custom validation messages aren't displayed so the user has no idea what is wrong.
                                (if(config.isHtml5ValidationEnabled) Map('pattern -> DocumentReferenceNumber.Pattern) else Nil)
                        )
                        </div>
                        <div class="hint-image-wrap img-wrap img-wrap-desktop ga-track-click-event-once"
                             ga-event-category="ct_link"
                             ga-event-action="v5c-docref-hint-show">
                            <p>@Messages("disposal_vehiclelookup.img.hint")</p>
                            <div class="panel-indent-wrapper">
                                <div class="panel-indent">
                                    <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/V5CX3.png")" alt="@Messages("disposal_vehiclelookup.img.alt")" />
                                </div>
                            </div>
                        </div>

                        <div class="hint-image-wrap img-wrap img-wrap-mobile ga-track-click-event-once"
                             ga-event-category="ct_link"
                             ga-event-action="v5c-docref-hint-show">
                            <p>@Messages("disposal_vehiclelookup.img.hint")</p>
                            <div class="panel-indent-wrapper">
                                <div class="panel-indent">
                                    <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/V5CX3.png")" alt="@Messages("disposal_vehiclelookup.img.alt")" />
                                </div>
                            </div>
                        </div>

                        <div class="form-step">
                            <button id="@SubmitId" type="submit" name="action" class="button">
                                @Messages("disposal_vehiclelookup.button")
                            </button>
                            <br/>


                            @if(viewModel.displayExitButton) {
                                @viewModel.surveyUrl match {
                                    case Some(url) => {
                                        <br/>
                                        <a id="@ExitId"
                                           href="@viewModel.exit"
                                           onclick="window.open('@url', '_blank');"
                                           class="exit">@Messages("disposal_vehiclelookup.exitbutton")
                                        </a>
                                    }
                                    case None => {
                                        <br/>
                                        <a id="@ExitId"
                                           href="@viewModel.exit"
                                           class="exit">@Messages("disposal_vehiclelookup.exitbutton")
                                        </a>
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
