@(viewModel: models.VehicleLookupViewModel)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config,
  isPrivateKeeper: Boolean
)

@import models.VehicleLookupFormModel.Form.{DocumentReferenceNumberId, VehicleRegistrationNumberId}
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.playbackList
@import views.disposal_of_vehicle.VehicleLookup.{BackId, ExitId, ResetTraderDetailsId, SubmitId}
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
    title = Messages("disposal_vehiclelookup.title"),
    currentForm = Some(viewModel.form),
    backButton = Some(viewModel.back)
) {
    <h1>@Messages("disposal_vehiclelookup.title")</h1>

    <div class="two-col clearfix vehicle-lookup">
        <div class="first-col trader-details">
            @playbackList(
                Messages("disposal_vehiclelookup.p2"),
                {
                    val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                    playbackItems += (Messages("disposal_vehiclelookup.tradernamelabel") -> viewModel.traderName)
                    playbackItems += (Messages("disposal_vehiclelookup.traderaddresslabel") -> viewModel.address.mkString("<br/>"))
                    if(!isPrivateKeeper)
                        viewModel.traderEmail match {
                            case Some(email) => playbackItems += ("EMAIL_" + Messages("disposal_disposeconfirmation.email") -> email)
                            case None => playbackItems += (Messages("disposal_disposeconfirmation.email") ->
                                Messages("disposal_disposeconfirmation.emailNotEntered"))}
                    playbackItems
                }
            )()

            @if(Messages("disposal_vehiclelookup.traderresetdetails")) {
            <div>
                <a id="@ResetTraderDetailsId"
                   href="@viewModel.resetTraderDetails">@Messages("disposal_vehiclelookup.traderresetdetails")</a>
            </div>
            }
        </div>
        <div id="trader-details" class="second-col uppercase-input">
            <div class="form-steps">
                <div class="step uppercase-input">
                    @form(action = viewModel.submit,
                          (if(!config.isHtml5ValidationEnabled) Seq('novalidate -> "novalidate") else Nil): _*) {
                        @csrfTokenHiddenField()

                        @valtechInputText(viewModel.form(VehicleRegistrationNumberId), args =
                        Map('_label -> Messages("disposal_vehiclelookup.vrninputlabel"),
                            'maxLength -> VehicleRegistrationNumber.MaxLength,
                            '_showConstraints -> false,
                            'alphaNumericOnly -> true,
                            'autofocus -> true))

                        @valtechInputText(viewModel.form(DocumentReferenceNumberId), args =
                            Map('_label -> Messages("disposal_vehiclelookup.refnumlabel"),
                            '_showConstraints -> false,
                            'tooltipImgSrc -> controllers.StaticAssets.versioned(config.assetsUrl)("images/V5CX3-11-Digit-Doc-Ref-Num.jpg"),
                            'tooltipHeading -> Messages("disposal_vehiclelookup.v5c"),
                            'typeTel -> true,
                            'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                            'title -> Messages("")) ++
                            (if(config.isHtml5ValidationEnabled)
                                Map('pattern -> DocumentReferenceNumber.Pattern,
                                    'validityMessage -> Messages("error.validDocumentReferenceNumber"))
                             else Nil)
                        )


                        <div class="form-step">
                            <button id="@SubmitId" type="submit" name="action" class="button">
                                @Messages("disposal_vehiclelookup.button")
                            </button>
                            <br/>


                            @if(viewModel.displayExitButton) {
                                @viewModel.surveyUrl match {
                                    case Some(url) => {
                                        <br/>
                                        <a id="@ExitId"
                                           href="@viewModel.exit"
                                           onclick="window.open('@url', '_blank');"
                                           class="exit">@Messages("disposal_vehiclelookup.exitbutton")
                                        </a>
                                    }
                                    case None => {
                                        <br/>
                                        <a id="@ExitId"
                                           href="@viewModel.exit"
                                           class="exit">@Messages("disposal_vehiclelookup.exitbutton")
                                        </a>
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
