@(request: RequestHeader, error: String)(implicit lang: Lang, config: utils.helpers.Config)

@import views.html.common.{govMainDefault, protoType}

@govMainDefault(Messages("onHandlerBadRequest.title"), false) {
<div class="app vehicles-online">
    @protoType()

    <div class="section-content">
        <h1>@Messages("onHandlerBadRequest.header")</h1>
        <p>@error</p>
        <div class="step">
            <a id="exit" href="@controllers.routes.BeforeYouStart.present()" class="button">@Messages("onHandlerBadRequest.start.button")</a>
        </div>
    </div>
</div>
}