//print styles

@import "../../target/web/web-modules/main/webjars/lib/vehicles-presentation-common/scss/_print.scss";

.vehicles-online {
    display:inline-block;
    vertical-align:top;
    padding:20px;
    margin-bottom:0;
}

//web layer specific
.enter-address-manually form {
    fieldset > .form-item {
        margin-bottom:0;
    }
}

p.transaction-id {
    font-weight:bold;
    br {
        display:none;
    }
}

//hide specific elements/sections
.trader-details .img-wrap-desktop,
.enter-address-manually legend,
.enter-address-manually label,
.enter-address-manually label em
{
    display: none !important;
}

.enter-address-manually fieldset > .form-item > .form-item:last-child label {
    display:block !important;
}