@(title: String, showLanguageSwitch: Boolean)(content: Html)(implicit lang: Lang,
        config: utils.helpers.Config, isPrivateKeeper: Boolean)

@import views.html.common.alternateLanguages
@import play.api.Play
@import play.api.Play.current
@import views.common.ProtoType.FeedbackId
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.serviceClosingWarning
@import uk.gov.dvla.vehicles.presentation.common.services.DateServiceImpl
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.pleaseWait

<!DOCTYPE html>
    <!--[if IE 6]>         <html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7]>         <html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="ie ie8" lang="en"> <![endif]-->
    <!--[if IE 9]>         <html class="ie ie9" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

        <link rel="stylesheet" href="@controllers.StaticAssets.versioned(config.assetsUrl)("screen.min.css")" media="screen" type="text/css">

        <link rel="stylesheet" href="@controllers.StaticAssets.versioned(config.assetsUrl)("print.min.css")" media="print" type="text/css">

        <link rel="shortcut icon" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/favicon.ico")" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-57x57.png")">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-72x72.png")" sizes="72x72">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-76x76.png")" sizes="76x76">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-114x114.png")" sizes="114x114">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-120x120.png")" sizes="120x120">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-144x144.png")" sizes="144x144">
        <link rel="apple-touch-icon-precomposed" href="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/apple-touch-icon-152x152.png")" sizes="152X152">

        <!-- Google Analytics -->
        <script>
        var _gaq = _gaq || [];
        @if(config.googleAnalyticsTrackingId.isDefined) {
            @*
            https://support.google.com/analytics/answer/1008080?hl=en&utm_id=ad
            Paste it immediately before the closing </head> tag.
            *@
            <!-- Google Analytics -->
            _gaq.push(['_setAccount', '@{config.googleAnalyticsTrackingId}']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            <!-- End Google Analytics -->
        }
        </script>
        <!-- End Google Analytics -->
    </head>

    <body data-closing-time="@config.closingTimeMinOfDay" class="js-disabled">
        <script type="text/javascript">document.body.className = document.body.className.replace('js-disabled','js-enabled');</script>
        @serviceClosingWarning(config.openingTimeMinOfDay, config.closingTimeMinOfDay, config.closingWarnPeriodMins)
        <a href="#main" class="visuallyhidden">Skip to main content</a>

        <div id="global-cookie-message">
            <div class="cookie-message-wrapper">
                <p>@{Messages("global.cookiemessage")}&nbsp;<a href="http://www.gov.uk/support/cookies">@{Messages("global.cookiefindoutmore")}</a></p>
            </div>
        </div>

        <div role="banner" class="global-header" id="global-header">
            <div class="header-wrapper">
                <div class="content">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="logo">
                              <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/gov.uk_logotype_crown.png")" width="35" height="31">GOV.UK
                            </a>
                        </div>
                    </div>
                    <div class="header-proposition">
                        <div class="content proposition-menu">
                            <h2 class="page-title"><strong>@if(isPrivateKeeper){@Messages("main.banner.private")}else{@Messages("main.banner")}</strong></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end header-->

        <div role="main" id="main">
            @content
        </div>

        <div class="footer" id="footer" role="contentinfo">
            <div class="footer-wrapper vehicles-online-footer">
                <div class="footer-meta">
                    <div class="footer-meta-inner">
                        <ul>
                            <li><a href="@routes.CookiePolicy.present()" target="_blank">@Messages("footer.cookies")</a></li>
                            @if(showLanguageSwitch) {
                                <li>@alternateLanguages(showLanguageSwitch)</li>
                            }
                            <li><a href="@routes.TermsAndConditions.present()" target="_blank">@Messages("footer.tandc")</a></li>
                            <li>@{Messages("footer.builtbyintro")}&nbsp;<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency" target="_blank">@{Messages("footer.builtby")}</a></li>
                        </ul>
                        <div class="open-government-licence">
                            <h2>
                                <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">
                                    <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/open-government-licence_2x.png")" alt="OGL">
                                </a>
                            </h2>
                            <p>@{Messages("footer.text1")}&nbsp;<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">@{Messages("footer.link")}</a>@{Messages("footer.text2")}</p>
                        </div>
                    </div>
                    @if(!Play.isTest) {
                        @* Do not fetch external assets when testing. Ideally we should have asset local and in version control *@
                        <div class="copyright print-only">
                            <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/govuk-crest.png")" alt="Crown Copyright">
                        </div>
                        <div class="copyright">
                            <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">&copy;
                                Crown Copyright</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--end footer-->

        @pleaseWait()

        <div id="global-app-error" class="app-error hidden"></div>
        <script type="text/javascript" src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/javascripts/common.js")"></script>
        <script type="text/javascript">
            if (typeof $ !== "function" || $('html').hasClass('js-ready') === false) {
                // Either Jquery or common are not available so revert to the no-js view
                document.body.className = document.body.className.replace('js-enabled','js-disabled');
            }
        </script>
    </body>
</html>
